name: ci

on:
  push:

permissions:
  contents: read

jobs:
  prepare:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          version: 2026.1.1
          install: true
          experimental: true
      - name: Run format
        run: mise run fmt
      - name: Check diff
        run: if [[ -n $(git diff --exit-code --name-only) ]]; then git diff --exit-code --name-only && exit 1; fi
